html, body {margin:0; padding:0; font-family:sans-serif;}
* {vertical-align:middle;}
*:focus {outline:0 none;}
select {overflow:auto;}
textarea {resize:none}
input, select, textarea {cursor:pointer;}
input[type=checkbox], input[type=radio] {margin:0; padding:0;}
input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=button]):not([type=image]):not([type=hidden]),
select, textarea, .field {
  font-size:.84em;
  padding:.5em;
  border:1px solid rgba(0,0,0,.4);
  border-radius:.3em;
  background:rgba(255,255,255,.8);
  box-shadow:inset 0 0 .5em rgba(0,0,0,.3), 0 0 .5em #fff;
  transition:all .2s;
}
.field[placeholder]:empty:before {
  content:attr(placeholder);
  opacity:.4;
}
input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=button]):not([type=image]):not([type=hidden]):hover,
select:hover, textarea:hover, .field:hover {border-color:#b6f; box-shadow:inset 0 0 .5em #b6f, 0 0 .5em #fff; background:#fff}
input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=button]):not([type=image]):not([type=hidden]):focus,
select:focus, textarea:focus, .field:focus {border-color:#b6f; box-shadow:0 0 .5em #b6f; background:#fff}
body {padding-top:40px;}
.head {
  font-size:1.5em;
  display:block;
  box-sizing:border-box;
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:0;
  padding:0 .3em;
  height:40px;
  line-height:38px;
  background:rgba(255,255,255,.9);
  border-bottom:2px solid #4bf;
  box-shadow:0 0 0 1px rgba(255,255,255,.6), 0 0 .8em rgba(0,0,0,.8);
  font-family:monospace;
  letter-spacing:.1em;
  font-weight:normal;
  color:#09f;
  user-select:none;
}
.head:first-letter {
  letter-spacing:normal;
  padding:1px 6px 3px 7px;
  background:#4bf;
  border-radius:4px 4px 50% 50%;
  margin-right:4px;
  font-family:sans-serif;
  font-size:.8em;
  font-weight:bold;
  color:#fff;
  border:1px solid rgba(0,0,0,.5);
  text-shadow:0 0 2px rgba(0,0,0,.9);
  box-shadow:inset 0 -.1em .4em rgba(0,0,0,.8);
}
.summary {
  display:block;
  position:fixed;
  height:40px;
  line-height:38px;
  right:.3em;
  top:0px;
  animation:colorize 10s linear infinite;
  transform-origin:100% 50%;
  transition:transform .5s, opacity .5s;
}
@media (max-width:490px) {
  .summary {transform:scale(0); opacity:0;}
}
.workspace {display:table; box-sizing:border-box; width:100%; border-spacing:.5em;}
.sandbox, .experiments {display:table-cell; box-sizing:border-box; padding:1em; width:50%; background:rgba(0,0,0,.05); border:1px solid rgba(0,0,0,.1); border-radius:.3em; vertical-align:top;}
.sandbox > *, .experiments > * {display:block; box-sizing:border-box; width:100%; margin:.5em 0;}
.sandbox > :first-child, .experiments > :first-child {margin-top:0;}
.sandbox > :last-child, .experiments > :last-child {margin-bottom:0;}
.checkbox-group > label, .radio-group > label {white-space:nowrap; padding:.2em .4em; cursor:pointer; border:1px solid transparent; border-radius:.2em; transition:all .2s;}
.checkbox-group > label:hover, .radio-group > label:hover {background:rgba(255,255,255,.7); border-color:#b6f; box-shadow:inset 0 0 .5em #b6f, 0 0 .5em #fff;}
@media (max-width:640px) {
  .sandbox > .checkbox-group, .sandbox > .radio-group {display:inline-block; width:40%; margin:0 0 .5em;}
  .sandbox > .checkbox-group > label, .sandbox > .radio-group > label {display:block; padding:.6em .4em;}
  select[multiple] option {text-align:center}
}
@media (max-width:400px) {
  .sandbox, .experiments {display:block; width:100%; margin:0 0 .5em;}
}
@keyframes colorize {
   0% {color: hsl(  0, 100%, 40%)}
  10% {color: hsl( 36, 100%, 40%)}
  20% {color: hsl( 72, 100%, 40%)}
  30% {color: hsl(108, 100%, 40%)}
  40% {color: hsl(144, 100%, 40%)}
  50% {color: hsl(180, 100%, 40%)}
  60% {color: hsl(216, 100%, 40%)}
  70% {color: hsl(252, 100%, 40%)}
  80% {color: hsl(288, 100%, 40%)}
  90% {color: hsl(324, 100%, 40%)}
 100% {color: hsl(360, 100%, 40%)}
}